* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background-color: black;
}

main {
    background-color: black;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    gap: 20px;
}

#message-box {
    min-height: 25px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 14px;
    color: white; /* Fallback color */
}

#top #img-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

#top h2 {
    font-size: 40px;
    background: linear-gradient(to right, rgb(235, 200, 231), rgb(211, 122, 221), rgb(136, 59, 157));
    -webkit-background-clip: text;
    color: transparent;
}

p {
    color: rgb(199, 196, 196);
    margin-bottom: 5px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    width: 100%;
    max-width: 400px;
}

form div {
    width: 100%;
}

label {
    color: white;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #333;
    background-color: white;
    margin-top: 5px;
}

button {
    background-color: #c37cf0;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #a147d9;
}

#toggle-link {
    color: rgb(236, 57, 218);
    text-decoration: underline;
    cursor: pointer;
}

#cover {
    display: none;
    flex: 1;
}

#cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 768px) {
    #cover { display: flex; }
    main { padding: 80px; }
}
